USE [master]
GO

IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SofiaCarRental_v2.2')
BEGIN
	DROP DATABASE [SofiaCarRental_v2.2]
END
GO	

USE [master]
GO

CREATE DATABASE [SofiaCarRental_v2.2]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
EXEC [SofiaCarRental_v2.2].[dbo].[sp_fulltext_database] @ACTION = 'enable'
END
GO
USE [SofiaCarRental_v2.2]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02/08/2012 12:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nchar](5) NULL,
	[FirstName] [varchar](32) NULL,
	[LastName] [varchar](32) NOT NULL,
	[FullName]  AS (([LastName]+', ')+[FirstName]),
	[Title] [varchar](80) NULL,
	[HourlySalary] [smallmoney] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeNumber], [FirstName], [LastName], [Title], [HourlySalary]) VALUES (1, N'88798', N'James', N'Robinson', N'janitor', 2.0000)
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeNumber], [FirstName], [LastName], [Title], [HourlySalary]) VALUES (2, N'78965', N'John', N'Martinez', N'sales man', 7.0000)
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeNumber], [FirstName], [LastName], [Title], [HourlySalary]) VALUES (3, N'14856', N'Robert', N'Garcia', N'sales man', 7.0000)
SET IDENTITY_INSERT [dbo].[Employees] OFF
/****** Object:  Table [dbo].[Customers]    Script Date: 02/08/2012 12:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[DrvLicNumber] [varchar](50) NULL,
	[FullName] [varchar](80) NULL,
	[Address] [varchar](100) NOT NULL,
	[Country] [varchar](100) NOT NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[ZIPCode] [varchar](20) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([CustomerID], [DrvLicNumber], [FullName], [Address], [Country], [City], [State], [ZIPCode]) VALUES (1, N'240-573-885', N'John Wattson', N'4024 Locktar Drive', N'USA', N'Silver Spring', N'MD', N'20904')
INSERT [dbo].[Customers] ([CustomerID], [DrvLicNumber], [FullName], [Address], [Country], [City], [State], [ZIPCode]) VALUES (2, N'264-72-6663', N'Charles Calhoun', N'10630 Leila Rd #D4', N'USA', N'Alexandria', N'VA', N'22231')
INSERT [dbo].[Customers] ([CustomerID], [DrvLicNumber], [FullName], [Address], [Country], [City], [State], [ZIPCode]) VALUES (3, N'802-46-4006', N'Jeannine Pons', N'802 Mimosa Road NW', N'USA', N'Washington', N'DC', N'20006')
SET IDENTITY_INSERT [dbo].[Customers] OFF
/****** Object:  Table [dbo].[Categories]    Script Date: 02/08/2012 12:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[ImageFileName] [varchar](256) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageFileName]) VALUES (1, N'Hatchback', N'hatchback.png')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageFileName]) VALUES (2, N'Saloon', N'saloon.png')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageFileName]) VALUES (3, N'People Carrier', N'peoplecarrier.png')
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[RentalRates]    Script Date: 02/08/2012 12:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalRates](
	[RentalRateID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[Daily] [smallmoney] NULL,
	[Weekly] [smallmoney] NULL,
	[Monthly] [smallmoney] NULL,
 CONSTRAINT [PK_RentalRates] PRIMARY KEY CLUSTERED 
(
	[RentalRateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RentalRates] ON
INSERT [dbo].[RentalRates] ([RentalRateID], [CategoryID], [Daily], [Weekly], [Monthly]) VALUES (1, 2, 2.0000, 12.0000, 44.0000)
INSERT [dbo].[RentalRates] ([RentalRateID], [CategoryID], [Daily], [Weekly], [Monthly]) VALUES (2, 1, 1.0000, 6.0000, 22.0000)
INSERT [dbo].[RentalRates] ([RentalRateID], [CategoryID], [Daily], [Weekly], [Monthly]) VALUES (3, 4, 5.0000, 3.0000, 11.0000)
SET IDENTITY_INSERT [dbo].[RentalRates] OFF
/****** Object:  Table [dbo].[Cars]    Script Date: 02/08/2012 12:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[TagNumber] [varchar](20) NOT NULL,
	[Make] [varchar](50) NULL,
	[Model] [varchar](50) NOT NULL,
	[CarYear] [smallint] NULL,
	[CategoryID] [int] NULL,
	[Mp3Player] [bit] NULL,
	[DVDPlayer] [bit] NULL,
	[AirConditioner] [bit] NULL,
	[ABS] [bit] NULL,
	[ASR] [bit] NULL,
	[Navigation] [bit] NULL,
	[Available] [bit] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[ImageFileName] [varchar](256) NULL,
	[Rating] [decimal](9, 2) NULL,
	[NumberOfRatings] [int] NULL,
	CONSTRAINT [IX_Cars_TagNumber] UNIQUE ([TagNumber]),
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON
INSERT [dbo].[Cars] ([CarID], [TagNumber], [Make], [Model], [CarYear], [CategoryID], [Mp3Player], [DVDPlayer], [AirConditioner], [ABS], [ASR], [Navigation], [Available], [Latitude], [Longitude], [ImageFileName], [Rating], [NumberOfRatings]) VALUES (1, N'TE 3445 IK', N'Opel', N'Corsa', 2004, 1, 1, 0, 1, 1, 0, 0, 1, 42.697872, 23.321583, N'opel_corsa_2004.jpg', NULL, 0)
INSERT [dbo].[Cars] ([CarID], [TagNumber], [Make], [Model], [CarYear], [CategoryID], [Mp3Player], [DVDPlayer], [AirConditioner], [ABS], [ASR], [Navigation], [Available], [Latitude], [Longitude], [ImageFileName], [Rating], [NumberOfRatings]) VALUES (2, N'TE 2312 IK', N'Honda', N'Civic', 1993, 1, 1, 0, 0, 1, 0, 0, 1, 48.139126, 11.580186, N'honda_civic_2006.jpg', NULL, 0)
INSERT [dbo].[Cars] ([CarID], [TagNumber], [Make], [Model], [CarYear], [CategoryID], [Mp3Player], [DVDPlayer], [AirConditioner], [ABS], [ASR], [Navigation], [Available], [Latitude], [Longitude], [ImageFileName], [Rating], [NumberOfRatings]) VALUES (3, N'TE 6645 IK', N'Hyundai', N'I30', 2008, 1, 0, 0, 0, 0, 0, 0, 1, 48.873974, 2.324701, N'hyundai_i30_2008.jpg', NULL, 0)
SET IDENTITY_INSERT [dbo].[Cars] OFF
/****** Object:  Table [dbo].[RentalOrders]    Script Date: 02/08/2012 12:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RentalOrders](
	[RentalOrderID] [int] IDENTITY(1,1) NOT NULL,
	[DateProcessed] [datetime] NULL,
	[EmployeeID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[TankLevel] [varchar](40) NULL,
	[MileageStart] [int] NULL,
	[MileageEnd] [int] NULL,
	[RentStartDate] [datetime] NOT NULL,
	[RentEndDate] [datetime] NOT NULL,
	[Days]  AS (CONVERT([int],[RentEndDate]-[RentStartDate],(0))),
	[RateApplied] [money] NULL,
	[OrderTotal]  AS (CONVERT([money],[RateApplied]*CONVERT([int],[RentEndDate]-[RentStartDate],(0)),(0))),
	[OrderStatus] [varchar](50) NULL,
 CONSTRAINT [PK_RentalOrder] PRIMARY KEY CLUSTERED 
(
	[RentalOrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RentalOrders] ON
INSERT [dbo].[RentalOrders] ([RentalOrderID], [DateProcessed], [EmployeeID], [CustomerID], [CarID], [TankLevel], [MileageStart], [MileageEnd], [RentStartDate], [RentEndDate], [RateApplied], [OrderStatus]) VALUES (1, CAST(0x000095E400000000 AS DateTime), 1, 1, 1, N'FULL', 100000, 102000, CAST(0x000095E500000000 AS DateTime), CAST(0x000095EA00000000 AS DateTime), 1.0000, N'completed')
INSERT [dbo].[RentalOrders] ([RentalOrderID], [DateProcessed], [EmployeeID], [CustomerID], [CarID], [TankLevel], [MileageStart], [MileageEnd], [RentStartDate], [RentEndDate], [RateApplied], [OrderStatus]) VALUES (2, CAST(0x00009B7200000000 AS DateTime), 2, 2, 2, N'FULL', 3500, 3700, CAST(0x0000973300000000 AS DateTime), CAST(0x00009B7F00000000 AS DateTime), 1.0000, N'completed')
INSERT [dbo].[RentalOrders] ([RentalOrderID], [DateProcessed], [EmployeeID], [CustomerID], [CarID], [TankLevel], [MileageStart], [MileageEnd], [RentStartDate], [RentEndDate], [RateApplied], [OrderStatus]) VALUES (3, CAST(0x000095B100000000 AS DateTime), 3, 3, 3, N'FULL', 310000, 310200, CAST(0x000095E500000000 AS DateTime), CAST(0x000095EA00000000 AS DateTime), 1.0000, N'completed')
SET IDENTITY_INSERT [dbo].[RentalOrders] OFF
/****** Object:  Default [DF__Categorie__Image__0425A276]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (NULL) FOR [ImageFileName]
GO
/****** Object:  Default [DF__Cars__Latitude__7D78A4E7]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (NULL) FOR [Latitude]
GO
/****** Object:  Default [DF__Cars__Longitude__7E6CC920]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (NULL) FOR [Longitude]
GO
/****** Object:  Default [DF__Cars__ImageFileN__7F60ED59]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (NULL) FOR [ImageFileName]
GO
/****** Object:  Default [DF__Cars__Rating__00551192]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (NULL) FOR [Rating]
GO
/****** Object:  Default [DF__Cars__NumberOfRa__014935CB]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Cars] ADD  DEFAULT ((0)) FOR [NumberOfRatings]
GO
/****** Object:  ForeignKey [FK_RentalRateCategory]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[RentalRates]  WITH CHECK ADD  CONSTRAINT [FK_RentalRateCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[RentalRates] CHECK CONSTRAINT [FK_RentalRateCategory]
GO
/****** Object:  ForeignKey [FK_Categories]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Categories]
GO
/****** Object:  ForeignKey [FK_Cars]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [FK_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [FK_Cars]
GO
/****** Object:  ForeignKey [FK_Customers]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [FK_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [FK_Customers]
GO
/****** Object:  ForeignKey [FK_Employees]    Script Date: 02/08/2012 12:50:54 ******/
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [FK_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [FK_Employees]
GO
/****** Object:  StoredProcedure [dbo].[GetProfitFromCar]    Script Date: 1/18/2013 15:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProfitFromCar]
@CarID INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT SUM(OrderTotal) AS Profit FROM dbo.RentalOrders
	WHERE CarID = @CarID 
END
GO
/****** Object:  StoredProcedure [dbo].[GetRentalOrdersForCar]    Script Date: 1/18/2013 16:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRentalOrdersForCar]
@CarID INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM dbo.RentalOrders
	WHERE CarID = @CarID 
END
GO

