<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="openAccessConfiguration"
             type="Telerik.OpenAccess.Config.OpenAccessConfigSectionHandler, Telerik.OpenAccess"
             requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Connection" connectionString="data source=.\sqlsever2012;initial catalog=SofiaCarRental_v2.2;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="AdventureWorksConnection" connectionString="data source=.\sqlexpress;initial catalog=AdventureWorks;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <openAccessConfiguration xmlns="http://www.telerik.com/OpenAcessConfiguration">
    <backendConfiguration name="oaConfig"
                          backend="mssql"
                          connectionTimeout="200"
                          providerName="System.Data.SqlClient">
      <!--<runtime allowReadAfterDelete="false"
               checkObjectConsistencyOnCommit="true" />-->
      <!--<secondLevelCache cacheQueryResults="true"
                        numberOfObjectsPerQueryResults="500"
                        enabled="true" />-->
      <logging downloaderEnabled="true" 
               eventStoreCapacity="500"
               metricStoreCapacity ="2000"
               logEvents="all">
        <logDownloader filename="espn.oalog" maxFileSizeK="4097" append="true" eventText="true" />
      </logging>
      <!--<connectionPool activeConnectionTimeout="456"
                      maxActive="567"
                      blockWhenFull="false" />
      <highLowKeyGenerator grabSize="678"
                           start="789" />-->
    </backendConfiguration>
  </openAccessConfiguration>
</configuration>