<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RecipesBookDb" providerName="System.Data.SqlClient"
         connectionString="Server=ebca8f90-febc-407e-92f4-a22b0188783d.sqlserver.sequelizer.com;Database=dbebca8f90febc407e92f4a22b0188783d;User ID=udalvzdchpbkkctk;Password=Sk24bC8Wn8RAAAbjWGdo8YehhbEyrExgjuvp5yQtimpYnQLXK2KXcFy2fTU86HDP;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>