<h1>Login</h1>
<fieldset>
    <legend>Login or register</legend>
    <label for="tb-username">Username</label>
    <input data-bind="value: username" type="text" id="tb-username" />
    <label for="tb-username">Email</label>
    <input data-bind="value: email" type="text" id="tb-email" />
    <label for="tb-password">Password</label>
    <input data-bind="value: password" type="text" id="tb-password" />
    <button data-bind="click: login">Login</button>
    <button data-bind="click: register">Register</button>
    <button data-bind="click: logout">Logout</button>
</fieldset>
