@mixin inline-block{
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin clearfix{
	zoom:1;
	&:after{
		content: "";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
@mixin border-radius($size){
	-moz-border-radius:$size+px;
	-webkit-border-radius:$size+px;
	border-radius:$size+px;
	behavior: url(scripts/css3-pie/PIE_uncompressed.htc);
}
img{
	max-width:100%;
}
.outer-center {float: right;right: 50%;position: relative;}
.inner-center {float: right;right: -50%;position: relative;}
#slider-nav span,#services p span{
	background-image:url(../images/sprite.png);
	background-repeat:no-repeat;
}
header nav li:hover a,#current-menu-item a,#services a:hover,#news-updates a:hover{
	background-image:none;
	background-color:#186387;
	box-shadow:inset 0 0 3px #7e7e7e;
	color:#fff;
	@include border-radius(5);
	text-shadow:none;
}
p,a{
		font-family:Miryad Pro,Arial sans-serif;
}
body {
	font-size:15px;
	background-color:#f5f5f5;
	font-family:Miryad Pro,Arial sans-serif;
	color:#555e58;
	
	a{
		@include inline-block;
	}
	h1,h2,h3,h4,h5,h6,header,section,article,footer,ul,li,a{
		margin:0;
		padding:0;
	}
	.container{
		width:960px;
		margin:0 auto;
		position:relative;
		@include clearfix;
		&>article{
			width:30%;
			margin-left:3%;
			float:left;
			background-repeat:no-repeat;
			background-position:50% 0;
			position:relative;
			a{
				position:absolute;
				right:0;
				bottom:0;
				padding:3px 13px;
				background-repeat:repeat-x;
				@include border-radius(3);
				margin-top:10px;
			}
		}
		h2{
			font-size:60pt;
			font-weight:900;
			line-height:60px;
			text-align:center;
			span{
				font-weight:normal;
				}
		}
		.heading-p{
			font-size:20pt;
			color:#fff;
			text-shadow:1px 1px #818582;
			text-align:center;
			margin-top:15px;
		}
	}
	h1,h2{
		font-size:39px;
		color:#fff;
		
	}
	a{
		text-decoration:none;
	}
	&>header{
		background: #2993c4;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OTNjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmNlZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #2993c4 0%, #c2ced3 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2993c4), color-stop(100%,#c2ced3));
		background: -webkit-linear-gradient(top,  #2993c4 0%,#c2ced3 100%);
		background: -o-linear-gradient(top,  #2993c4 0%,#c2ced3 100%);
		background: -ms-linear-gradient(top,  #2993c4 0%,#c2ced3 100%);
		background: linear-gradient(to bottom,  #2993c4 0%,#c2ced3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2993c4', endColorstr='#c2ced3',GradientType=0 );
		background-repeat:no-repeat;
		padding-top:15px;
		text-align:center;
		@include clearfix;
		.container,nav,#slider{
			@include clearfix;			
		}
		h1{
			@include inline-block;
			font-size:37px;
		}
		nav{
			@include inline-block;
			ul{
				margin-left:15px;
				margin-top:40px;
				@include clearfix;
				li{
					display:inline;
					margin-right:3px;
					a{
						padding:3px 13px;
						color:#fff;
						font-weight:normal;
						text-shadow:1px 1px #818582;
					}
				}
				li:hover a,#current-menu-item a{
							background-color:#186387;
							box-shadow:inset 0 0 3px #7e7e7e;
							color:#fff;
							@include border-radius(3);
							text-shadow:none;
				}
			}
		}
		#slider{
			margin-top:60px;
			overflow:hidden;
			ul{
				@include clearfix;
				width:10000px;
				li{
					float:left;
					article{
						img{
							margin-top:30px;
							height:295px;
						}
					}
				}
			}
			#slider-nav{
				span{
					width:45px;
					height:45px;
					position:absolute;
					top:30%;
					cursor:pointer;
					&:hover{
						opacity:0.4;
						filter:alpha(opacity=40);
					}
				}
				.left{
					background-position:0 -196px;
					left:-150px;
					
				}
				.right{
					right:-150px;
					background-position:0 -250px;
				}
			}
		}
	}
	#services{
		article{
			background-image:url(../images/circle-bg.png);
			padding-top:147px;
			margin-top:76px;
			h3{
				color:#a3a2a2;
				font-size:24pt;
				font-weight:normal;
			}
			p{
				color:#555e58;
				padding-bottom:50px;
			}
			a{
				background:url(../images/learn-more-1.png);
				border:1px solid #e0dddd;
				color:#b2b2b2;
				text-shadow:1px 1px 1px #fff;
			}
		}
		.quote-p{
			padding:10px 30px 0 30px;
			position:relative;
			float:left;
			margin-top:10px;
			text-align:center;
			font-size:24pt;
			line-height:30px;
			font-weight:normal;
			&:first-line{
				font-size:30pt;
				font-weight:bold;
			}
			span{
				width:26px;
				height:35px;
				@include inline-block;
				position:absolute;
				top:3px;
			}
			#left-quotes{
				left:0;
				background-position:0 -125px;
			}
			#right-quotes{
				right:0;
				background-position:0 -160px;
			}
		}
	}
	#news-updates{
		background-color:#829aa7;
		margin-top:110px;
		padding-top:115px;
		padding-bottom:120px;
		article{
			background-image:url(../images/empty-circle.png);
			background-position:50% 50px;
			padding-top:130px;
			&:hover{
				background-image:url(../images/empty-blue-circle.png);
			}
			h3{
				font-size:23pt;
				font-weight:bold;
				color:#fff;
				text-shadow:1px 1px 1px #333;
				margin-top:5px;
			}
			.post-info{
				color:#acb6b1;
			}
			p{
				text-shadow:1px 1px #818582;
				color:#fff;
			}
			.post-content{
				padding-bottom:50px;
			}
			a{
				background:url(../images/learn-more-dark-grey.png);
				border:1px solid #535955;
				color:#3d433f;
				text-shadow:1px 1px 1px #76837b;
				
			}
		}
		#big-button{
			background:url(../images/view-more-darker-grey.jpg);
			background-repeat:repeat-x;
			border:1px solid #535955;
			color:#fff;
			text-shadow:1px 1px 1px #76837b;
			@include border-radius(8);
			padding:13px;
			font-size:20pt;
			margin-top:50px;
			cursor:pointer;
			font-weight:normal;
			box-shadow:0 1px 2px #777;
			&:hover{
				background-image:none;
				background-color:#186387;
				box-shadow:inset 0 0 3px #7e7e7e;
				color:#fff;
				text-shadow:none;
			}
		}
	}
	#work-feedback{
		padding-top:110px;
		.container{
			p,h2{
				color:#636b66;
				text-shadow:none;
			}
		}
		article{
				margin-top:56px;
				width:269px;
				height:269px;
				border-radius:135px;
				box-shadow:inset 0 0 7px #777;
				background:#d4d4d4;
				&:hover{
					background:#eaeaea;
					.project-content{
						display:block;
					}
				}
			.project-content{
				display:none;
				text-align:center;
				color:#4a524d;
				padding:50px;
				p{
					
				}
				h3{
					font-size:18pt;
					color:#4a524d;
					font-weight:bold;
					text-shadow:1px 1px 1px #fff;
				}
				a{
					position:static;
					background:url(../images/learn-more-1.png);
					border:1px solid #e0dddd;
					color:#9a9999;
					text-shadow:1px 1px 1px #fff;
					box-shadow:0 1px 2px #ccc;
					&:hover{
						background-image:none;
						background-color:#186387;
						box-shadow:inset 0 0 3px #7e7e7e;
						color:#fff;
						text-shadow:none;
					}
				}
			}
		}
		#big-white-button{
					background:url(../images/view-more-white.jpg);
					background-repeat:repeat-x;
					border:1px solid #e0dddd;
					color:#6d7470;
					text-shadow:1px 1px 1px #fff;
					@include border-radius(8);
					padding:13px;
					font-size:20pt;
					margin-top:50px;
					cursor:pointer;
					font-weight:normal;
					box-shadow:0 1px 2px #777;
					float:left;
					&:hover{
						background-image:none;
						background-color:#186387;
						box-shadow:inset 0 0 3px #7e7e7e;
						color:#fff;
						text-shadow:none;
					}
				}
	}
	#plans-pricing{
		background-color:#829aa7;
		margin-top:110px;
		padding-top:115px;
		padding-bottom:120px;
		.container{
			@include clearfix;
		}
		table{
			float:left;
			border:1px solid #334049;
			border-collapse: border-collapse;
			width:33%;
			margin-top:50px;
			color:#fff;
			td{
				padding:20px;
				text-align:center;
				border:1px solid #35424c;
			}
			thead{
				background:#3d4b56;
				font-size:22pt;
				font-weight:bold;
			}
			tfoot{
				background-color:#4a5b67;
				font-size:72pt;
				line-height:62px;
				tr{
					td{
						padding:40px;
						
					}
				}
			}
			tbody{
				background-color:#465662;
				tr{
					td{
						font-size:14pt;
						line-height:20px;
						img{
							margin-right:5px;
						}
					}
				}
			}
		}
		#dark-blue-button{
			display:block;
			clear:both;
			background:url(../images/view-more-darker-grey.jpg);
			background-repeat:repeat-x;
			border:1px solid #2d363d;
			color:#fff;
			text-shadow:1px 1px 1px #76837b;
			@include border-radius(8);
			padding:13px;
			font-size:20pt;
			margin-top:50px;
			cursor:pointer;
			font-weight:normal;
			box-shadow:0 1px 2px #777;
			&:hover{
				background-image:none;
				background-color:#186387;
				box-shadow:inset 0 0 3px #7e7e7e;
				color:#fff;
				text-shadow:none;
			}
		}
	}
	footer{
		padding-top:100px;
		padding-bottom:55px;
		border-bottom:1px solid #e4e4e4;
		.container{
			article{
				h2{
					font-size:36px;
					font-weight:normal;
					color:#555e58;
					text-shadow:none;
					margin:0;
					padding:0;
					text-align:left;
					line-height:36px;
				}
				#copyright{
					color:#bfbfbf;
					font-style:italic;
					text-shadow:1px solid #fff;
				}
				h3{
					font-size:18pt;
					color:#555e58;
					font-weight: bold;
					text-shadow:1px 1px 1px #fff;
					line-height:40px;
				}
			}
			
		}
	}
	&>p{
		text-align:right;
		border-top:1px solid #fff;
		padding-top:65px;
		a{
			color:#555e58;
			&:hover{
				color:#222;
			}
		}
	}
}
@media only screen and (max-width : 768px) {
	.container{
		max-width:99%;
		
	}
	#slider img{
		max-width:768px;
		position:relative;
	}
	table{
		width:99%;
		display:block;
		clear:both;
	}
	#slider-nav{
		.left{
			left:100px;
		}
		.right{
			right:100px;
		}
	}	
}