html, body, ul {
	margin: 0;
	padding:0;
}
body {
	background: grey;
    font-size: 12px;
}

#sites-bar ul {
	list-style: none;
	zoom: 1;
	background: #b200ff;
	height: 40px;
	color: #fff;
	padding-left: 20px;
}

#sites-bar ul:after {
	content: '';
	clear: both;
	display: block;
}

#sites-bar > ul > li {
	float: left;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	line-height: 40px;
}
#sites-bar > ul > li > ul {
	position: absolute;
	left: 0;
	display: none;
	height: auto;
	padding-left: 20px;
	padding-right: 10px;
	width: 100px;
	background: #4800ff;

}
#sites-bar > ul > li:hover {
	background: #4800ff;
}
#sites-bar > ul > li:hover > ul {	
	position: absolute;
	left: 0;
	display: block;

}
#sites-bar a {
	color: #fff;
}