<h1> Wellcome to Recipe Book! </h1>

 <p data-template="home-greeting-template" data-bind ="source: greeting"></p>
<blockquote cite="http://www.brainyquote.com/quotes/keywords/cooking.html">
   
    <em>
        Cooking for people is an enormously significant expression of generosity and soulfulness, 
        and entertaining is a way to be both generous and creative. You're sharing your life with people. 
        Of course, it's also an expression of your own need for approval and applause. Nothing wrong with that.
    </em>
Ted Allen 
</blockquote>

<script id="home-greeting-template" type="text/x-kendo-template">
        <span data-bind="text: greeting"></span>
</script>