<div data-bind="source: recipe.title"></div>
<div>
    Number of people who like this page: <span data-bind="source: recipe.likes"></span>
</div>


<strong>Products: </strong>
<ul data-template="products-template" data-bind="source: recipe.products" id="products-menu">
</ul>

<script type="text/x-kendo-template" id="products-template">
   <li>
     #: Name # - #: Quantity # #: mesaurementString#
    </li>
</script>
<div>
    How to make this delicious gift from the gods: <span data-bind="source: recipe.content"></span>
</div>

<div data-bind="source: state" data-template="state-template"></div>
<script type="text/x-kendo-template" id="state-template">
  # if(state){ #
        <span>You already like this recipe.</span>
    # } else { #
     <button id="like" data-bind="click: likeRecipe">Like</button>
    # } #
</script>
